<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

</div>

<hr>
  <nav>
    <a [routerLink]="['/home']" [routerLinkActive] = "['activado']">HOME</a>
    <a [routerLink]="['/professorat']" [routerLinkActive] = "['activado']">PROFESSORAT</a>
    <a [routerLink]="['/cursos']" [routerLinkActive] = "['activado']">CURSOS</a>
    <a [routerLink]="['/noticies']" [routerLinkActive] = "['activado']">NOTICIES</a>
  </nav>
<hr>
<router-outlet></router-outlet>