<div>
	
	<h1>Certificat de programacio</h1>

	<p>
		Els certificats de professionalitat acrediten el conjunt de competències professionals que capaciten per al desenvolupament d'una activitat laboral identificable en el sistema productiu sense que això constitueixi regulació de l'exercici professional. Tenen caràcter oficial i validesa a tot el territori nacional i són expedits pels òrgans competents de les comunitats autònomes (SEPE / SOC) i inclouen pràctiques no laborals en empreses..
	</p>

	<ul>
		
		<li>
			Gestionar la configuració del sistema per assegurar el rendiment dels processos. Administrar els dispositius d'emmagatzematge. Gestionar les tasques d'usuaris per garantir els accessos al sistema. Gestionar els serveis de xarxa per assegurar la comunicació entre sistemes.
		</li>
		<li>
			Analitzar especificacions tècniques pel desenvolupament. Desenvolupar elements software destinats a la gestió dels recursos del sistema mitjançant eines i llenguatge de programació de sistemes.
		</li>
		<li>
			Prioritàriament a presones treballadores desocupades incrites al SOC com demanants d'ocupació no ocupats/des.
		</li>
			
	</ul>

</div>
