ul{
    list-style-type: circle;
    margin: 0 0 2em 0;
    padding: 0;
}
ul li {
    display: list-item;
    margin-right: 30px;
}
ul li a{
    font-size: 1.5em;
}
a{
    color: #fff;
    text-decoration: none;
}